<div class="card">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title">Your Cart</h5>
        </div>
        <div class="card-body">
            @if (items.length === 0) {
                <div class="alert alert-info" role="alert">
                    <p>There are no items in your cart. Go to <a class="nav-link active" aria-current="page" [routerLink]="['/catalog']">Catalog</a></p>
                </div>
            } @else {
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of items; track $index) {
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price | currency }}</td>
                            <td>{{ (item.product.price * item.quantity) | currency }}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="removeFromCart(item.product)">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-start fw-bold"><strong>Total</strong></td>
                        <td colspan="2"><strong>{{ total | currency }}</strong></td>
                    </tr>
                </tfoot>
            </table> 
        }
        </div>
    </div>
</div>
